.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination button {
  background-color: #fff;
  border: 1px solid #ddd;
  color: #333;
  cursor: pointer;
  margin: 0 5px;
  padding: 5px 10px;
  border-radius: 5px;
}

.pagination button:hover {
  background-color: #ddd;
}

.pagination button:disabled {
  cursor: default;
  background-color: #ddd;
  color: #888;
}

.pagination button.active {
  background-color: #ddd;
  cursor: default;
  color: #333;
}