/* Searchbar.css */

button {
  font-size: 1.2rem;
  color: #333;
  background-color: transparent;
  border: none;
  margin-right: 0.5rem;
  padding: 0.5rem;
  cursor: pointer;
}

button:hover {
  text-decoration: underline;
}

button.selected {
  color: white;
  background-color: #333;
}

input {
  font-size: 1.2rem;
  padding: 0.5rem;
  margin-right: 0.5rem;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 1rem;
}

.category-container {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.category-button {
  text-align: center !important;
  padding: 5px;
  border: none;
  border-radius: 50%;
  background-color: #5b4577 !important;
  color: #fff !important;
  font-size: 16px;
  margin: 5px;
  transition: all 0.2s ease-in-out;
  box-shadow: 0px 4px 10px rgba(235, 79, 214, 0.086);
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
}

.category-button:hover {
  background-color: #333;
  color: #fff;
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
  transform: scale(1.2);
  text-decoration: none;
}

.search-bar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.s-bar {
  width: 50vh;
  margin-right: -1rem;
  border-radius: 20%;
  border: solid 3px #5b4577;
}

.s-button  {
  background-color: #5b4577 !important;
  color: #fff !important;
  margin-left: -99px;
  border-radius: 25%;
  width: 12vh;
}
@media (max-width: 767.98px) {
.s-bar {
  margin: 100px !important;}
}