.breadcrumb {
  background-image: url(../../assets/breadcrumb-banner.png);
  padding: 80px 0 !important;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* margin-bottom: 0;
  margin-top: 100px; */
  position: relative;
}

.category-page-title {
  color: #fff;
  font-size: 30px;
  font-family: 'Pacifico', cursive;
  text-align: center;
  background-color: transparent;
  margin-bottom: 40px;
  text-transform: capitalize;
}

.section {
  padding: 0.444em 0;
  font-family: 'Poppins', sans-serif;
}