nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin: 0;
}

nav ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100%;
  padding: 0 20px;
  color: #2a021c;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

nav ul li a:hover {
  color: #8F3D9E;
}

nav ul li a .icon-purple {
  color: #8F3D9E;
}

nav ul li a:hover .icon-purple {
  color: hsl(293, 91%, 48%);
}

nav ul li a:hover .sr-only {
  opacity: 1;
}

nav ul li a .sr-only {
  position: absolute;
  top: 0;
  left: -50px;
  opacity: 0;
  padding: 10px;
  background-color: #8F3D9E;
  color: #fff;
  border-radius: 5px;
  white-space: nowrap;
  pointer-events: none;
  transition: opacity 0.2s ease-in-out;
}

.icon-row {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.icon-row li {
  margin: 0 10px;
}

.logout-btn {
  margin-bottom: -15px !important;
  font-size: 1.5rem;
  color: #8517a0;
}

.navbar-text {
  font-family: 'Pacifico', cursive;
  font-size: 1.3rem !important;
  color: #632872 !important;
  margin-right: 5rem;
}

@media screen and (max-width: 768px) {
  nav ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }

  nav ul li {
    display: block;
    margin-bottom: 10px;
  }

  .navbar-text {
    font-size: 1rem;
    margin-left: -10px;
  }

  .icon-row li {
    margin: 0 5px;
  }
}